/* You can add global styles to this file, and also import other style files */
.temperatureactuelle{
        float: right;
        font-size: 2.5rem;
}
.notemp{
    float: right;
    font-size: 2rem;
}